<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.boringdroid.systemui">

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="com.android.systemui.permission.PLUGIN" />
    <uses-permission android:name="android.permission.CONTROL_REMOTE_APP_TRANSITION_ANIMATIONS" />

    <application tools:ignore="AllowBackup,MissingApplicationIcon">
        <activity
            android:name=".DebugActivity"
            android:label="@string/system_ui_debug_name"
            android:largeHeap="true"
            android:supportsRtl="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.boringdroid.systemui.SystemUIOverlay"
            android:label="@string/system_ui_overlay_name"
            tools:ignore="ExportedService,Instantiatable">
            <intent-filter>
                <action android:name="com.android.systemui.action.PLUGIN_OVERLAY" />
            </intent-filter>
        </service>
        <service
            android:name="com.android.quickstep.TouchInteractionService"
            android:directBootAware="true"
            android:permission="android.permission.STATUS_BAR_SERVICE">
            <intent-filter>
                <action android:name="android.intent.action.QUICKSTEP_SERVICE" />
            </intent-filter>
        </service>

        <!-- STOPSHIP: Change exported to false once all the integration is complete.
        It is set to true so that the activity can be started from command line -->
        <activity
            android:name="com.android.quickstep.RecentsActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenSize|screenLayout|smallestScreenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:resumeWhilePausing="true"
            android:screenOrientation="unspecified"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:theme="@style/LauncherTheme" />
        <activity
            android:name="com.android.launcher3.proxy.ProxyActivityStarter"
            android:clearTaskOnLaunch="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.android.quickstep.LockScreenRecentsActivity"
            android:directBootAware="true"
            android:showOnLockScreen="true"
            android:taskAffinity="com.boringdroid.systemui.locktask"
            android:theme="@android:style/Theme.NoDisplay" />
    </application>

</manifest>
