<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:ignore="AllowBackup,MissingApplicationIcon"
        tools:node="merge">
        <activity
            tools:node="merge"
            android:name=".DebugActivity"
            android:label="@string/system_ui_debug_name"
            android:largeHeap="true"
            android:exported="true"
            android:supportsRtl="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
